---
layout: default
title: "404: Không thấy trang"
permalink: 404.html
---

<div class="page">
  <h1 class="page-title">404: Không thấy trang</h1>
  <p class="lead">
    Xin lỗi, trang bạn đang tìm không thể được tìm thấy.
    Vui lòng về <a href="{{ site.baseurl }}/">trang chủ</a> hoặc kiểm tra lại đường dẫn.
  </p>
</div>

