---
layout: page
title: Trang chủ
image: "https://cdn.statically.io/og/Quang Thắng"
description: "Trang cá nhân của một cậu học trò đam mê công nghệ."
---
<div id="intro">
  Mình là <i>Quang Thắng</i>, một cậu học sinh trung học cơ sở hiện đang sống
  tại Hà Nội. Mình là một <i>#CodeNewBie</i> và <i>#FOSSLover</i>.
  Mình thích công nghệ nói chung, trong đó mình thấy thú vị với lập trình nhất.
  Hiện tại thì mình chỉ có một chút kiến thức lập trình cơ bản nhưng mình vẫn
  luôn học hỏi từng ngày. Bên cạnh đó, mình cũng khá thích đọc sách, chơi cờ vua
  và nghe nhạc khi rảnh dỗi.
</div>

<div class="posts">
  <h3>Bài viết</h3>
  <ul class="post-listing">
    {% assign no_post = true %}
    {% for post in site.posts limit:5 %}
      {% capture no_post %}{% endcapture %}
      <li class="single-post">
        <a href="{{ post.url | relative_url }}"
          >{{ post.date | date_to_string }} - {{ post.title }}</a
        >
      </li>
    {% endfor %}
  </ul>
  {% if no_post == true %}
    <p>Chưa có bài viết nào được đăng.</p>
  {% endif %}
  <a href="/writing">
    <button id="more-post">
      Đọc thêm
    </button>
  </a>
</div>

<div id="contact">
  <h3>Liên hệ</h3>
  <p>
    Hiện tại, bạn có thể liên hệ với mình bằng cách gửi email tới địa chỉ
    <a href="mailto:quangthang@tutanota.com">quangthang@tutanota.com</a>. Ngoài
    ra, bạn cũng có thể tìm thấy mình tại một số trang sau:
  </p>
  <ul>
    <li><a href="https://facebook.com/qquangthang">Facebook</a></li>
    <li><a href="https://mastodon.social/@quangthang">Mastodon</a></li>
    <li><a href="https://fosstodon.org/@thang">Fosstodon</a></li>
    <li><a href="https://lobste.rs/u/thang">Lobsters</a></li>
    <li><a href="https://gitlab.com/thangisme">Gitlab</a></li>
    <li><a href="https://lichess.org/@/quangthang">Lichess</a></li>
  </ul>
</div>
