<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <div class="container content">
      <header class="masthead">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>

          <nav class="nav">
            {% for nav in site.nav %}
            <small><a href="{{ nav.url }}">{{ nav.title }}</a></small>
            {% endfor %}
          </nav>
        </h3>
      </header>

      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <small>
          &copy;
          <time datetime="{{ site.time | date_to_xmlschema }}"
            >{{ site.time | date: '%Y' }}</time
          >. All rights reserved.
        </small>
      </footer>
    </div>

    <script async defer data-website-id="a3a20ed0-c135-4bab-80df-7607914c3e5a" src="https://eyes.quangthang.men/umami.js"></script>
  </body>
</html>
